{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div class="news-overview">
	<f:if condition="{newsCollection}">
		<f:then>
      <a href='/posts.html' class='right_links'>What's New?</a>
			<typo3cr:widget.paginate nodes="{newsCollection}" as="paginatedNewsItems" widgetId="{node.name}" configuration="{configuration.pagination}">
				<ul class="right_info">
					<f:for each="{paginatedNewsItems}" as="news">
            <li>
						<ts:render path="newsItem" context="{node: news, inputConfiguration: configuration}" />
            </li>
					</f:for>
				</ul>
			</typo3cr:widget.paginate>
		</f:then>
		<f:else>
			<p><f:translate id="noNewsToDisplay" package="Lelesys.News">No news to display</f:translate></p>
		</f:else>
	</f:if>
</div>
