{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<nav class="nav-collapse nav-collapse-0 closed" aria-hidden="false" style="-webkit-transition: max-height 284ms; transition: max-height 284ms; position: relative;">
<ul class="main">
	<li><a href="{neos:uri.node(node: site)}">Home</a></li>
    <f:for each="{items}" as="item">
        <li>
            <neos:link.node node="{item.node}" {ts:render(path:'{item.state}.attributes', context: {item: item}) -> f:format.raw()}/>
        </li>
    </f:for>
</ul>
</nav>